<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>じゃんけんゲーム</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="container">
      <div class="npcArea">
        <div class="npcTarget" id="nTarget">
          <p id="target">じゃんけん</p>
        </div>
      </div>

      <div class="pTarget">
        <form
          name="fm"
          id="ajax-janken"
          action="{% url 'blog:ajax_janken' %}"
          method="POST"
        >
          {% csrf_token %}
          <div
            class="gooBtn JANKEN"
            id="0"
            name="janken"
            data-id="0"
            type="button"
          >
            <p id="goo">ぐー</p>
          </div>
          <div
            class="chokiBtn JANKEN"
            id="1"
            name="janken"
            data-id="1"
            type="button"
          >
            <p id="choki">ちょき</p>
          </div>
          <div
            class="paaBtn JANKEN"
            id="2"
            name="janken"
            data-id="2"
            type="button"
          >
            <p id="paa">ぱー</p>
          </div>
        </form>
      </div>

      <div class="resultArea">
        <p id="nowResult">↑選んでね！↑</p>
        <div id="current">
          <p>
            Player:<span id="pResults">0</span>win NPC:<span id="nResults"
              >0</span
            >win
          </p>
        </div>
      </div>
    </section>
    <section class="start" id="startArea">
      <p>ルール</p>
      <p>先に3勝したほうが勝ちです。</p>
      <p id="startBtn" class="btn">Game Start</p>
    </section>
    <section id="result">
      <p id="resultComment"></p>
      <p id="resetBtn" class="btn">Replay</p>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      // 色々定数とか変数とか
      // わたしの書いたコード
      const startBtn = document.getElementById('startBtn');
      const npcTarget = document.getElementById('nTarget');
      const target = document.getElementById('target');

      const gooBtn = document.getElementById('GOO');
      const chokiBtn = document.getElementById('CHOKI');
      const paaBtn = document.getElementById('PAA');

      const goo = document.getElementById('goo');
      const choki = document.getElementById('choki');
      const paa = document.getElementById('paa');

      const nowResult = document.getElementById('nowResult');
      const pResults = document.getElementById('pResults');
      const nResults = document.getElementById('nResults');

      const resetBtn = document.getElementById('resetBtn');
      const result = document.getElementById('result');
      const resultComment = document.getElementById('resultComment');

      // じゃんけんらんだむ
      let npcJanken;

      // // 勝利数管理変数
      let myWin = 0;
      let npcWin = 0;

      // 「ぐー」「ちょき」「ぱー」の中から何か選ばれた時に
      // ランダムでNPCがぐーちょきぱーを選ぶ関数

      function npcChoice() {
        console.log(my_kekka['手']);
        if (npcJanken === 1) {
          target.textContent = 'ぐー';
          nTarget.style.background = '#eea85f';
          nTarget.style.opacity = '1.0';
          nTarget.style.fontSize = '40px';
        } else if (npcJanken === 2) {
          target.textContent = 'ちょき';
          nTarget.style.background = '#f18f65';
          nTarget.style.opacity = '1.0';
          nTarget.style.fontSize = '40px';
        } else {
          target.textContent = 'ぱー';
          nTarget.style.background = '#ab785a';
          nTarget.style.opacity = '1.0';
          nTarget.style.fontSize = '40px';
        }
      }

      // 「じゃんけん」ボタンに戻す。
      function jankenReset() {
        target.textContent = 'じゃんけん';
        npcTarget.style.background = 'gray';
        npcTarget.style.fontSize = '25px';
        npcTarget.style.opacity = '0.7';
      }

      // 「勝ち」！
      function youWin() {
        nowResult.textContent = 'かち！';
        nowResult.style.backgroundColor = 'red';
        myWin++;
      }

      // 「負け！」
      function youLose() {
        nowResult.textContent = 'まけ！';
        nowResult.style.backgroundColor = 'blue';
        npcWin++;
      }

      // 「あいこ！」
      function aiko() {
        nowResult.textContent = 'あいこ！';
      }
      // 結果画面初期値
      function nowResultReset() {
        nowResult.textContent = '↑選んでね！↑';
        nowResult.style.backgroundColor = 'gray';
      }


      //画面操作有効/無効化関数
      function btnOff() {
        document.getElementById('ajax-janken').style.pointerEvents = 'none';
      }

      function btnOn() {
        document.getElementById('ajax-janken').style.pointerEvents = 'auto';
      }

      // ここからはじまる！
      btnOff();

      // ルール説明画面をスタートを押したら消す。
      // ゲームスタート。

      startBtn.addEventListener('click', () => {
        document.getElementById('startArea').style.display = 'none';
        btnOn();
      });

      // ここまで書いたコード
      // おまじない
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + '=') {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
      }
      $.ajaxSetup({
        beforeSend: function (xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
          }
        },
      });
      // ここまでおまじない

      //submit押したとき
      $('.JANKEN').on('click', function (e) {
        e.preventDefault();
        let data = { id: $(this).data('id') };
        $.ajax({
          url: '{% url "blog:ajax_janken" %}',
          type: 'POST',
          data: data,
          dataType: 'json',
        }).done(function (response) {
          btnOff();
          let my_kekka;
          my_kekka = response;
          console.log(my_kekka);

          // NPC「ぐー」「ちょき」「ぱー」の表示

          function npcChoice() {
            npcJanken = my_kekka['NPC手'];
            if (npcJanken === 'ぐー') {
              target.textContent = 'ぐー';
              nTarget.style.background = '#eea85f';
              nTarget.style.opacity = '1.0';
              nTarget.style.fontSize = '40px';
            } else if (npcJanken === 'ちょき') {
              target.textContent = 'ちょき';
              nTarget.style.background = '#f18f65';
              nTarget.style.opacity = '1.0';
              nTarget.style.fontSize = '40px';
            } else {
              target.textContent = 'ぱー';
              nTarget.style.background = '#ab785a';
              nTarget.style.opacity = '1.0';
              nTarget.style.fontSize = '40px';
            }
          }
          npcChoice();
          nowResultUpdate();

          function nowResultUpdate() {

            if (response['kekka'] === 'かち') {
              myWin += 1;
              pResults.textContent = myWin;
              if (myWin === 3){
              result.style.animationName = 'upToDown';
              result.style.animationDuration = '3s';
              result.style.display = 'block';
              resultComment.textContent = 'あなたの勝ちです！';
              }else{

              setTimeout(function () {
                jankenReset();
                btnOn();

                nowResultReset();
              }, 4000);
            }

            } else if (response['kekka'] === 'まけ') {

              npcWin += 1;
              nResults.textContent = npcWin;

              if(npcWin ===3){
                result.style.animationName = 'upToDown';
              result.style.animationDuration = '3s';
              result.style.display = 'block';
              resultComment.textContent = 'あなたの負けです！';
              }else{
              setTimeout(function () {
                jankenReset();
                btnOn();

                nowResultReset();
              }, 4000);
            }
          }else if (response['kekka'] === 'あいこ'){
            setTimeout(function () {
                jankenReset();
                btnOn();

                nowResultReset();
              }, 4000);
            };

          // リセットボタン押した時のアレ
          resetBtn.addEventListener('click', () => {
            result.style.display = 'none';
            myWin = 0;
            npcWin = 0;
            nowResultUpdate();
            btnOn();
            jankenReset();
            nowResultReset();
          });
        }})});</script>
  </body>
</html>
